.container{
    max-width: 100vw;
    width: 100%;
    background-color: #5F6472;
    
}


header{
    display: flex;
    align-items: center;
    height: 122px;
    border-bottom: darkslategray 2px solid;
    margin-bottom: 10px;
}

.spaceXLogo{
    width: 151px;
    height: 30px;
    margin: 27px auto 40px 65px;
}



.mainBox{
    display: flex;
    gap: 50px;
    padding: 0px 40px 47px 40px;
    
}


.listLeftContainer{
    width: 30%;
    height: 270px;
    overflow-y:scroll;
    
}


.listLeftContainer::-webkit-scrollbar{
    width: 5px;

}

.listLeftContainer::-webkit-scrollbar-track{
background-color: none;
}


.listLeftContainer::-webkit-scrollbar-thumb{
    background-color: rgb(83, 83, 83);
    border-radius: 10px;

    }



.shipmentHead{
    display: flex;
    height: 38px;
    width: 90%;
    width: inherit;
    align-items: center;
    color: #979797;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 38px;
    
}


.cargoContainer{
    width: 70%;
    height: 800px;
    background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
    border-radius: 30px;
    padding-left: 50px;
}






#companyName{
    width: 70%;
    height: 74px;
    margin-top: 29px;
    color: white;
    font-size: 4rem;
    
}

#email{
    height: 24px;
    margin-top: 1px;
    width: 25%;
    font-size: 1rem;
    color: #979797;
}


.cargoBoxes{
    
    width: 15%;
    font-size: 1.5rem;
    margin-top: 30px;
    color: #979797;
   
}


#numInput{
    width:30%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;;
}


.cargoBays{
    width: 40%;
    margin-top: 30px;
    font-size: 2.125rem;
    color: #979797;
    
}


.numberOfBoxes{
    font-size: 2.125rem;
    text-align: center;
}


ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top:  25px;
}

li{
    font-size: 1.25rem;
    color: white;
    width: 90%;
    border-radius: 30px;
    
}


li:hover{
    background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
}




.search{
    display: none;
    justify-content: center;
    width: 100;
    height: 40px;
}

.searchBar{
    width: 95%;
    border: none;
}





.hamburger{
    display: none;
    position: relative;
    z-index: 101;
    width: 35%;
    height: 35%;
    cursor: pointer;


    user-select: none;

    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;
    transition: all .5s ease-in-out ;
    transition: all .5s ease-in-out ;
    transition: all .5s ease-in-out ;

}



.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: black;
    border-radius: 6px;
    z-index: 100;
    transform-origin: 0 0;

    transition: 0.4s;
}


.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    transform: translateX(10px);
    transform: translateX(10px);
    background-color: purple;
}



.hamburger.is-active span:nth-child(1){
     transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
     transform: translate(-3px, 3px) rotate(-45deg);
}















/* MOBILE RESOLUTION */

@media screen and (max-width: 380px){

.mainBox{
    justify-content: center;
    align-items: center;
    padding: 0;
    

}



.search{
    display: flex;
    justify-content: center;
    height: 20px;
    margin: 10px 50px;
}   

.searchBar{
    width: 100%;
    border-radius: 5px;
}


.cargoContainer{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin-bottom: 15px;
    gap: 20px;
    
}

#companyName{
    width: 90%;
    overflow: auto;
}


.cargoBoxes{
    width: 50%;
    
}



.cargoBays{
    width: 90%;
    font-size: 1.45rem;

    
}


.numberOfBoxes{
    width: 90%;
    margin-top: 50px;
    
}


#numInput{
    width: 80%
}


.listContainer{
    width: 100%;
    height: 50px;
    
}

.listLeftContainer{
    
    background-color: #5F6472;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.5s;
    z-index: 30;
    display: flex;
    padding: 100px 30px;
  
    
    

}

.listLeftContainer.is-active{
    
            transform: translateX(-100%);
}



.hamburger{
    display: block;
    width: 15%;
    padding-right: 10px;
}


.hamburger:hover span:nth-child(2){
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    background-color: purple;
}




#companyName{
    font-size: 3rem;
}


#email{
    width: 70%;
}





    
}